@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #D01418;
    --secondary-color: #222222;
    --light-color: #F3F3F3;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 3fr 2fr 2fr 1fr;
}

header,
footer {
    grid-column: 1/2;
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 2rem;
    /*Flex-box*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.brand {
    /*Flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.brand p {
    font-size: 24px;
}

nav,
nav ul {
    /*Flex-box*/
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

a:visited {
    color: var(--light-color);
}

.fa-bars {
    display: none;
}

.top-banner {
    grid-column: 1/2;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--light-color);
    font-size: 40px;
    /*Flex-box*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.top-banner p {
    text-align: center;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 2rem;
}

.btn-important {
    background-color: var(--main-color);
    display: block;
    padding: 15px 60px;
    border-radius: 5px;
    font-size: 24px;
}

.main-text,
.fa-cart-shopping {
    color: var(--main-color);
}

.featured-items {
    grid-column: 1/2;
    background-color: #c9c9c9;
    /*Flex-box*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-title,
.stared-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 1rem;
}

.cards {
    width: 100%;
    /*Flex-box*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-container {
    background-color: var(--light-color);
    border-radius: 5px;
    margin: 10px;
    min-width: 265px;
    min-height: 322px;
    /*Flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}

.item-card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-price {
    padding-top: 1rem;
    border-top: 1px solid #c9c9c9;
}

.item-card img {
    max-width: 129px;
    align-self: center;
    margin-bottom: 2rem;
}

.item-card p {
    padding-left: 1rem;
    margin-top: .2rem;
}

.pay-opt {
    font-size: .9rem;
}

.shipping {
    font-size: .5rem;
    color: #619d00;
}

.stared-items {
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #c9c9c9;
}


.item-banner {
    background-image: url(../img/banner1.png);
    background-size: cover;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    margin: 0 50px;
    color: var(--light-color);
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.item-banner:nth-child(odd) {
    background-image: url(../img/banner2.png);
}

.item-banner p {
    padding-right: 1rem;
}

footer {
    padding: 1rem 0 0;
}

footer .brand {
    margin-left: 2rem;
}

.social {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social p {
    width: 100%;
    text-align: center;
}

.social i {
    margin: 10px;
}

.copyright {
    height: 30px;
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    background-color: #c9c9c9;
    align-self: flex-end;
}

.fa-twitter {
    color: #14aed0;
}

.fa-facebook {
    color: #1476d0;
}

.fa-instagram {
    color: #CE0CFF;
}

@media (max-width:768px) {
    .container {
        grid-template-rows: 100px 1fr 2fr 1fr auto;
    }

    nav {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 2rem;
    }

    .top-banner {
        padding: 1rem;
        background-position: left center;
    }

    .featured-title,
    .stared-title {
        font-size: 2rem;
    }

    .item-banner {
        width: 100%;
        margin: 1rem;
    }

    footer {
        flex-direction: column;
        gap: 1.5rem;
    }

    footer .brand {
        margin: 0;
    }

}